################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Monitoring/bin
/Monitoring/obj
/packages
/Monitoring/project.lock.json
/Monitoring/Monitoring.xproj.user
*.user
/Monitoring/tunnel.pem
