@{
    ViewData["Title"] = "Humidity";
}
<div id="placeholder" href ="Humidity_Inside" style="width:100%;height:600px"></div>

@section scripts {
    <script src="~/js/charts.js" asp-append-version="true"></script>    
}
